{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Log In{% endblock title %}

{% block content %}
<h1 class="title">WanNyanApp</h1>
<h2 class="subtitle">Log in to access your diary</h2>
<div class="form-wrapper">
    <div class="input-length">
        <form method="post" class="form-padding">
            {% csrf_token %}
            <div class="mb-4">
                <label class="sr-only" for="{{ form.username.id_for_label }}">
                    Username
                </label>
                {% render_field form.username class="form-control" placeholder="Username" %}
            </div>
            <div class="mb-6">
                <label class="sr-only" for="{{ form.password.id_for_label }}">
                    Password
                </label>
                {% render_field form.password class="form-control my-4" placeholder="Password" %}
            </div>
            <button type="submit" class="btn">Log In</button>
            <p class="link"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        </form>
    </div>
</div>
{% endblock content %}