{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="flex justify-center mt-5">
    <div class="w-full max-w-xs">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <h2 class="text-center mb-4 font-bold">Log In</h2>
            {{ form|crispy }}
            <button type="submit" class="bg-yellow-400 text-white font-bold rounded-md p-2">Log In</button>
            <p class="mt-2 underline underline-offset-2"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        </form>
    </div>
</div>
{% endblock content %}