{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
<div class="flex flex-col items-center my-4">
    <form method="POST" class=" bg-white shadow-md rounded px-8 pt-6 pb-8">{% csrf_token %}
        <h1 class="font-bold mb-4 text-center">Set a new password!</h1>
        {{ form|crispy }}
        <button class="rounded bg-green-600 text-white p-2 mt-4" type="submit">Change my password</button>
    </form>
</div>
{% endblock content %}