{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<div class="flex justify-center mt-5">
    <div class="w-full max-w-xs">
        <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">{% csrf_token %}
            <h1 class="font-bold">Forgot your password?</h1>  
            <p class="mb-2">Enter your email address below, and we'll email instructions for setting a new one.</p>
            {{ form|crispy }}
            <button class="rounded bg-green-600 text-white p-2 mt-4" type="submit">Send me instructions!</button>
        </form>
    </div>
</div>
{% endblock content %}