{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<h1 class="title">WanNyanApp</h1>
<h2 class="subtitle">The pet sitter's diary</h2>
<div class="form-wrapper">
    <div class="input-length">
        <form method="post" class="form-padding">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="mb-4">
                    {% for error in form.non_field_errors %}
                        <span class="text-alert">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="mb-4">
                        {% for error in field.errors %}
                            <span class="text-alert">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="mb-6">
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                    {% render_field field class="form-control" placeholder=field.label %}
                </div>
            {% endfor %}
            <button type="submit" class="btn">Create an account</button>
            <p class="mt-4 text-center text-light-blue">Already have an account? <a href="{% url 'login' %}" class="text-blue-accent">Log in.</a></p>
        </form>
    </div>
</div>
{% endblock content %}